<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <form name="signinForm" class="form-signin" ng-submit="signinForm.$valid && login.doLogin()" novalidate>
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <div ng-class="{ 'has-error': signinForm.email.$dirty && signinForm.email.$invalid }">
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="login.username" required autofocus>
                </div>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="login.password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="login.rememberme"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" ng-disabled="signinForm.$invalid || vm.dataLoading" type="submit">Sign in</button>
            </form>

            <p class="text-center">New in Comics Site? Please, <a href="">Signup</a></p>
        </div>
    </div>
</div>
